body,html{
    background: #ededed;
}
.wheader {
    background: #000;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.wheader a {
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.icon-caidan1 {
    color: #fff;
    font-size: 18px;
}

.icon-chuizi {
    color: #fff;
    font-size: 26px;
}

.icon-shousuo {
    color: #fff;
    font-size: 20px;
}

#main {
    position: relative;
    top: 50px;
    padding-bottom: 53px;
}

#wbanner {
    background: #fff;
    overflow: hidden;
}

.wbanner {
    width: 100%;
    height: 146px;
    padding: 0 12px;
    margin: 14px 0 24px 0;
    box-sizing: border-box;
}

.wbanner img {
    width: 100%;
    height: 146px;
}

.wnav {
    height: 57px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wnav a {
    display: flex;
    width: 52px;
    height: 52px;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
}

.wnav a i {
    font-size: 22px;
    margin-bottom: 8px;
    color: #e8564c;
}

#whot {
    height: 267px;
    background: #fff;
    margin: 8px 0;
}

.whot {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
}

.whot-nav ul {
    display: flex;
    overflow-x: auto;
    padding: 0 10px;
}

.whot-nav ul li {
    width: 134px;
    height: 208px;
    margin-right: 5px;
}

.wmask a img {
    width: 126px;
    height: 126px;
}

.item-w {
    margin: 0 auto;
    padding: 5px 7px 10px;
}

.item-w h4 {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.item-w p {
    margin-top: 6px;
    font-size: 12px;
    line-height: 1.2;
    color: #7f7f7f;
}

.item-w span {
    color: #d44d44;
    display: inline-block;
    font-weight: 700;
}

.item-w span p {
    display: inline-block;
    color: #d44d44;
    font-size: 12px;
}

.item-w span i {
    font-style: normal;
    font-size: 12px;
}

.layout-image {
    width: 100%;
    box-sizing: border-box;
    height: 315px;
    padding: 15px 10px;
    background: #fff;
}

.layout-left {
    float: left;
    width: 45.6%;
}

.layout-left a {
    display: flex;
    height: 90px;
    margin-bottom: 8px;
    flex-direction:row;
}

.layout-left a img {
    width: 100%;
    height: 90px;
}

.layout-right{
    width: 45.6%;
    float: right;
}
.layout-right a img {
    width: 100%;
    height: 286px;
}

#phone-w {
    background: #fff;
    margin: 8px 0;
}

.phone-w {
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
}

.phone-w-top {
    padding: 0 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-w {
    padding: 20px 12px;
    padding-bottom: 0;
}

.column-w-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-w-1 li {
    width: 45.6%;
    height: 268px;
    margin-right: 4px;
}

.column-item a {
    display: block;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

.column-item img {
    width: 100%;
    height: 171px;
}

.item-con {
    margin: 0 auto;
    padding: 8px 12px 18px;
}

.item-con h4 {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.item-con p {
    font-size: 12px;
    line-height: 1.2;
    color: #7f7f7f;
}

.item-con span {
    color: #d44d44;
    display: inline-block;
    font-weight: 700;
}

.item-con span p {
    display: inline-block;
    color: #d44d44;
    font-size: 12px;
}

.item-con span i {
    font-style: normal;
    font-size: 12px;
}

#periphery {
    background: #fff;
}

.periphery {
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
}

.periphery-top {
    padding: 0 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.periphery-nav>ul>li {
    height: 151px;
    padding: 12px;
}

.periphery-nav ul li a {
    display: flex;
}

.periphery-nav>ul>li>a>img {
    width: 35.8%;
    height: 126px;
    margin-right: 32px;
}
.box-border{
    background: #e5efff;
    border-radius: 2px;
    padding: 2px 6px;
    margin: 1px 2px;
    color: #3965cc;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
}
.per-nav-right h5{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.per-nav-right p{
    color: #7f7f7f;
    font-size: 12px;
    margin: 6px 0 0;
}
.color-switch li{
    width:10px;
    height:10px;
    border-radius:50%;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    margin-right: 6px;
}
.color-switch li:first-child{
    background-color: #eac380;
}
.color-switch li:nth-child(2){
    background-color: #292941;
}
.color-switch li:nth-child(3){
    background-color: #f84811;
}
.color-switch li:nth-child(4){
    background-color: #979b9c;
}
.color-switch li:nth-child(5){
    background-color: #585244;
}
.color-switch li:last-child{
    background-color: #000;
}
.per-nav-span span {
    display: inline-block;
    font-weight: 700;
}
.per-nav-span p {
    display: inline-block;
    color: #d44d44;
    font-size: 12px;
}
.per-nav-span i {
    font-style: normal;
    font-size: 12px;
    color: #d44d44;
}
